body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.google-container {
    margin-top: 50px;
}

.logo {
    width: 272px; /* Logonun genişliğini uygun şekilde ayarlayın */
    height: auto;
}

.search-box {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}

.search-button, .lucky-button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}

.search-button:hover, .lucky-button:hover {
    background-color: #e6e6e6;
}

.links-container {
    margin-top: 20px;
}

.links-container a {
    color: #1a0dab;
    text-decoration: none;
}

.links-container a:hover {
    text-decoration: underline;
}
